h1 {
     font-family: Arial;
     text-shadow: 1px 1px 1px;
     text-align: center;
     color: green;
     padding: 0;
}


p {
    font-family: Arial;
    text-shadow: 1px 1px 1px;
    text-align: center;
    color: green;
    padding: 0;
}